* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #2b2d30;
}

.container {
    height: 95%;
    width: 95%;
    margin: 0 auto;
    background-color: aliceblue;
    border: 1px solid darkred;
    transition: width .5s;
}

.slider {
    height: 70%;
    width: 95%;
    margin: 0 auto;
    background-color: #FFFFFF;
    overflow: hidden;
}

.slider-images {
    display: flex;
    height: 100%;
    width: 500%;
    background-color: #FFFFFF;
}

.slide-image {
    width: 20%;
    transition: 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.controls_text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slides-text {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: left;
    transform: translate(5%);
    transition: 0.4s ease;
    font-family: Arial;
    font-size: 2vw;
}

.text1, .text2, .text3, .text4, .text5 {
    display: none;
}

.slides-text > p {
    opacity: 0;
    transition: opacity 0.4s ease;
    /*white-space: nowrap;*/
}

.pagination {
    display: flex;
}

.pagination label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1vh;
    border-radius: 50%;
}

.button {
    width: 2vh;
    height: 2vh;
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

input[type="radio"] {
    visibility: hidden;
}

#btn1:checked ~ .slider > .slider-images .first-image {
    margin-left: 0;
}

#btn2:checked ~ .slider > .slider-images .first-image {
    margin-left: -20%;
}

#btn3:checked ~ .slider > .slider-images .first-image {
    margin-left: -40%;
}

#btn4:checked ~ .slider > .slider-images .first-image {
    margin-left: -60%;
}

#btn5:checked ~ .slider > .slider-images .first-image {
    margin-left: -80%;
}

label:hover .button {
    background-color: darkcyan;
    transition: 1s;
}

#btn1:checked ~ .controls_text > .slides-text > .text1,
#btn2:checked ~ .controls_text > .slides-text > .text2,
#btn3:checked ~ .controls_text > .slides-text > .text3,
#btn4:checked ~ .controls_text > .slides-text > .text4,
#btn5:checked ~ .controls_text > .slides-text > .text5 {
    display: block;
    opacity: 1;
}

#btn1:checked ~ .controls_text > .pagination > .label1 > .button,
#btn2:checked ~ .controls_text > .pagination > .label2 > .button,
#btn3:checked ~ .controls_text > .pagination > .label3 > .button,
#btn4:checked ~ .controls_text > .pagination > .label4 > .button,
#btn5:checked ~ .controls_text > .pagination > .label5 > .button {
    background-color: darkred;
    transition: background-color 1s;
}